In [1]:
import sqlite3 as lite

## Connect to the SQLite to the Database

In [2]:
# create databse in RAM
db = lite.connect(':memory:')
# create or open a file called musicdb with SQLite3 DB
db = lite.connect('data/musicdb')

## Creating and Deleting tables

In [3]:
cursor = db.cursor()
cursor.execute(
    'CREATE TABLE songs(id INTEGER PRIMARY KEY, name TEXT, artist TEXT)'
)
db.commit()

In [4]:
cursor.execute(
    'DROP TABLE songs'
)
db.commit()

## Inserting data into the database

In [5]:
name1 = 'Sorry'
artist1 = 'Justin Bieber'

name2 = 'Style'
artist2 = 'Taylor Swift'

name3 = 'Hello'
artist3 = 'Adele'

# create the db again
cursor.execute(
    'CREATE TABLE songs(id INTEGER PRIMARY KEY, name TEXT, artist TEXT)'
)

# insert song1
cursor.execute(
    'INSERT INTO songs(name, artist) VALUES (?, ?)', (name1, artist1)
)
print('first song has been inserted')

cursor.execute(
    'INSERT INTO songs(name, artist) VALUES (?, ?)', (name2, artist2)
)
print('second song has been inserted')

cursor.execute(
    'INSERT INTO songs(name, artist) VALUES (?, ?)', (name3, artist3)
)
print('third song has been inserted')

db.commit()

first song has been inserted
second song has been inserted
third song has been inserted

In [6]:
song4 = {'name': 'Passionfruit', 'artist': 'Drake'}

cursor.execute(
    'INSERT INTO songs(name, artist) VALUES (:name, :artist)',
    song4
)
print('fourth song has been inserted')
db.commit()

fourth song has been inserted

In [7]:
songs567 = [
    ('Down', 'Jay Sean'),
    ('Do You Remeber', 'Jay Sean'),
    ('2012', 'Jay Sean')
]

cursor.executemany(
    'INSERT INTO songs(name, artist) VALUES (?, ?)',
    songs567
)
print('fifth, sixth and seventh songs have been inserted')

db.commit()

fifth, sixth and seventh songs have been inserted

## Retrieving data

In [8]:
cursor.execute(
    'SELECT artist, name FROM songs'
)

# retrieves the first row
some_song_info_1 = cursor.fetchone()
print(some_song_info_1, '\n')

all_song_info = cursor.fetchall()
for song_info in all_song_info:
    print('%s sang %s' % (song_info[0], song_info[1]))

('Justin Bieber', 'Sorry')

Taylor Swift sang Style
Adele sang Hello
Drake sang Passionfruit
Jay Sean sang Down
Jay Sean sang Do You Remeber
Jay Sean sang 2012

In [9]:
cursor.execute(
    'SELECT name FROM songs WHERE artist=?',
    ('Jay Sean',)
)

print('Jay Sean sang ', cursor.fetchone())
print('Jay Sean sang ', cursor.fetchone())
print('Jay Sean sang ', cursor.fetchone())

print(cursor.fetchall())

Jay Sean sang  ('Down',)
Jay Sean sang  ('Do You Remeber',)
Jay Sean sang  ('2012',)
[]

In [10]:
cursor.execute(
    'SELECT name FROM songs WHERE artist=?',
    ('Jay Sean', )
)
print(cursor.fetchall())

[('Down',), ('Do You Remeber',), ('2012',)]

## Updating and Deleting data

In [11]:
# update the first song in db
new_song = 'Heart Out'
new_artist = 'The 1975'

cursor.execute(
    'UPDATE songs SET name=?, artist=? WHERE id=?',
    (new_song, new_artist, 1)
)

db.commit()

In [12]:
# delete the second song in db
delete_song_id = 3

cursor.execute(
    'DELETE FROM songs WHERE id=?',
    (delete_song_id,)
)

db.commit()

## SQLite Database Execeptions

In [13]:
user_and_pass = [
    ('Harry', 'Styles'),
    ('Zayn', 'Malik'),
    ('Niall', 'Horan')
]

cursor.execute(
    'CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, user TEXT unique, password TEXT)'
)
cursor.executemany(
    'INSERT INTO users(user, password) VALUES (?, ?)',
     user_and_pass
)

db.commit()

In [14]:
try:
    cursor.execute(
        'INSERT INTO users(user, password) VALUES (?, ?)',
        user_and_pass[0]
    )
except lite.IntegrityError:
    print('This entry', user_and_pass[0], 'already exists')
    cursor.execute('SELECT * FROM users')
    users = cursor.fetchall()
    print('\n-----THE DB LOOKS LIKE THIS-----')
    for user in users:
        print(user)
    print('\n')
finally:
    db.close()
    print('The db is now closed')

This entry ('Harry', 'Styles') already exists

-----THE DB LOOKS LIKE THIS-----
(1, 'Harry', 'Styles')
(2, 'Zayn', 'Malik')
(3, 'Niall', 'Horan')


The db is now closed